html{  }

body, input, button {
    font-size: 1em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: #eeeeee;
}

footer {
  background-color: dimgrey;
  width: 100%;
  bottom: 0;
  position: fixed;
}

:root{
  --espaiEntreFitxes: 10px;
}

#fitxesFooter{
  margin: 0 auto;
  width: 50%;
}

#f1{
  float: left;
  margin: var(--espaiEntreFitxes);
}
#f2{
   float: left;
   margin: var(--espaiEntreFitxes);
}
#f3{
   float: left;
   margin: var(--espaiEntreFitxes);
}
#f4{
   float: left;
   margin: var(--espaiEntreFitxes);
}
#f5{
   float: left;
   margin: var(--espaiEntreFitxes);
}
#f6{
   float: left;
   margin: var(--espaiEntreFitxes);
}
#f7{
   float: left;
   margin: var(--espaiEntreFitxes);
}
